.logo {
    width: 100px;
    height: 100px;
    border: 2px dotted black;
    margin: 5px;
}

.logo-box1 {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
}

.logo-box2 {
    background: white;
    display: grid;
    grid-template-columns: repeat(2, 20px);
    gap: 3px;
    justify-content: center;
    align-content: center;
}

.cube {
    width: 20px;
    height: 20px;
}

.cube1 {
    background: red;
}

.cube2 {
    background: green;
}

.cube3 {
    background: blue;
}

.cube4 {
    background: yellow;
}